.ourWorkHeading {
  text-align: center;
  width: 50%;
  margin: 80px auto;
}

.serviceContainer {
  margin-bottom: 40px;
}

.image {
  width: 100%;
}

.serviceContent {
  align-self: center;
  padding: 0 80px;
}

.serviceContainer:nth-of-type(odd) .image {
  order: 2;
}
