.testimonailSectionContainer {
  background: #f1f1f1;
  margin: 110px 0;
  padding: 135px 0 135px 200px;
}

.testimonialContainerActive {
  height: 300px;
  background: white;
  padding: 40px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.testimonialContainerNoActive {
  height: 300px;
  background: white;
  padding: 40px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  opacity: 0.7;
}

.imageContainer {
  margin-right: 20px;
  margin-bottom: 20px;
}

.testimonialCardHeader {
  display: flex;
  align-items: center;
}

.clientName {
  font-weight: 700;
  line-height: 41px;
  color: #2161ff;
}

.testimonialText {
  font-size: 22px;
  line-height: 27px;
}

.readBlogContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 550px;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  margin-top: 50px;
}

.btn {
  width: 180px;
  border-radius: 20px;
}

.swiperSlide {
  padding: 50px;
}

.quotesUpImageActive {
  margin-bottom: -20px;
}

.quotesUpImageNoActive {
  margin-bottom: -20px;
  opacity: 0.7;
}

.quotesDownImage {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}
