.container {
  position: absolute;
  right: 30%;
  bottom: 20%;
}

.item {
  width: 100%;
  overflow: visible;
  stroke: white;
  stroke-width: 0.8;
  stroke-linejoin: round;
  stroke-linecap: round;
}
