.pagesHeader {
  background-image: url("https://cdn.pixabay.com/photo/2015/04/14/10/30/bird-721951_1280.jpg");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  align-items: center;
}

.pagesHeaderContent {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.pagesHeaderLinks {
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}

.pagesHeaderButton {
  margin-top: 20px;
}
