.pagesHeaderContent {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.pagesHeaderLinks {
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}

.pagesHeaderButton {
  margin-top: 20px;
}
