.enterpriseContainer {
  margin-top: 140px;
}

.enterpriseCardContainerActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
}

.enterpriseCardContainerNoActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: scale(0.85);
  opacity: 0.5;
}

.enterpriseSectionTitle {
  position: relative;
  color: #2161ff;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.enterpriseSectionTitle:before,
.enterpriseSectionTitle:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 3px;
  content: "\a0";
  background-color: black;
}

.enterpriseSectionTitle:before {
  margin-left: -50%;
  text-align: right;
}

.enterpriseTitle {
  font-weight: 600;
  margin: 20px 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 290px;
}

.swiper {
  padding: 50px 0;
}
