.footerContainer {
  background-color: #f1f1f1;
}

.githubIcon {
  margin-right: 10px;
}

.twitterIcon {
  margin-right: 10px;
  color: #1da1f2;
}

.youtubeIcon {
  margin-right: 10px;
  color: #ff0000;
}

.facebookIcon {
  margin-right: 10px;
  color: #4267b2;
}

.linkedinIcon {
  margin-right: 10px;
  color: #0a66c2;
}

.footerLogoContainer {
  margin-top: 80px;
  margin-bottom: 40px;
}

.footerLinksHeader {
  margin-bottom: 35px;
}
