.softwareContainer {
  background-image: url("https://cdn.pixabay.com/photo/2015/04/14/10/30/bird-721951_1280.jpg");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  align-items: center;
}

.softwareServices {
  width: 100%;
  text-align: center;
  margin: 80px 0;
}

.softwareItems {
  justify-content: center;
  margin: 40px 0;
}
