.container {
}

.circle {
  width: 438px;
  height: 438px;
  background: url("../../../../../public/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.ellipseImage1 {
  /* margin-left: -40px; */
  /* transform-origin: bottom right; */
  /* animation: rotate 20s 5s infinite; */
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

/* @keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50px, -50px);
  }

  25% {
    transform: rotate(90deg) translate(-60px, 100px);
  }

  50% {
    transform: rotate(180deg) translate(80px, 150px);
  }

  75% {
    transform: rotate(270deg) translate(60px, 100px);
  }

  100% {
    transform: rotate(360deg) translate(-50px, -50px);
  }
} */

/* .ellipseImage1 {
  margin-bottom: -250px;
  transform: translateX(-28px);
  z-index: 10;
  animation: circleAnimation1 0.5s ease-in-out;
}

.ellipseImage2 {
  margin-bottom: -250px;
  transform: translateX(145px) rotate(90deg);
  z-index: 10;
  animation: circleAnimation2 0.5s ease-in-out;
}

.ellipseImage3 {
  margin-bottom: -420px;
  transform: translateX(145px) rotate(180deg);
  z-index: 10;
  animation: circleAnimation3 0.5s ease-in-out;
}

.ellipseImage4 {
  margin-bottom: -420px;
  transform: translateX(-28px) rotate(270deg);
  z-index: 10;
  animation: circleAnimation4 0.5s ease-in-out;
}

@keyframes circleAnimation1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes circleAnimation2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes circleAnimation3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes circleAnimation4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
