.contactSectionContainer {
  padding-bottom: 100px;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactTitle {
  font-size: 50px;
  line-height: 40px;
}

.contactDescription {
  font-size: 20px;
  margin-top: 22px;
  margin-bottom: 50px;
}

.contactBtn {
  border-radius: 20px;
  width: 152px;
  height: 42px;
}

.contactImageContainer {
  display: flex;
  justify-content: flex-end;
  /* height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; */
}
