.nav {
  background-color: black;
}

.nav__logo {
  color: white;
  margin-right: auto;
  cursor: pointer;
}

.nav a {
  color: white;
  font-size: 12px;
  margin: 15px;
  text-transform: uppercase;
}

.whiteNav {
  background-color: black;
}

.whiteNav a {
  color: white;
  font-size: 12px;
  margin: 15px;
  text-transform: uppercase;
}
