@media only screen and (min-width: 600px) {
  .servicesContainer {
    padding-top: "110px";
    padding-bottom: "85px";
    background-image: url("../../../../../public/anantmk-background.svg");
  }
}

.shortDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
