.circleContainer {
  background-image: url("../../../../../public/designCircle.png");
  background-repeat: no-repeat;
}

.devCircleContainer {
  background-image: url("../../../../../public/developmentCircle.png");
  background-repeat: no-repeat;
  background-position: right;
}
