*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: white;
  transition: color 0.5s;
  text-decoration: none;
}

a:hover {
  color: orange;
  transition: color 0.3;
}

.swiper-pagination-bullet {
  width: 21px !important;
  height: 21px !important;
  margin-right: 28px !important;
  background-color: #df6b56e0 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 30px !important;
  height: 30px !important;
  background-color: #df6b56 !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #e5e5e5 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: -1px !important;
}

@media only screen and (max-width: 900px) {
  .swiper-pagination-bullet {
    /* width: 50px !important; */
    width: clamp(2.5rem, 0.2143rem + 11.4286vw, 4.5rem) !important;
    height: 11px !important;
    border-radius: 20px !important;
    margin-inline: 6px !important;
    background-color: #df6b569d !important;
    opacity: 1 !important;
  }

  .feature-pagination {
    background-color: #003049 !important;
  }

  .swiper-pagination-bullet-active {
    width: clamp(2.5rem, 0.2143rem + 11.4286vw, 4.5rem) !important;
    /* width: 50px !important; */
    height: 11px !important;
    border-radius: 20px !important;
    background-color: #df6b56 !important;
  }

  .PrivateSwipeArea-root {
    width: 0 !important;
  }
}

.MuiModal-root {
  z-index: 1;
}
