.uxNoHover {
  background-image: url(../public/cloud111.svg);
  background-repeat: no-repeat;
}

.developNoHover {
  background-image: url(../public/cloud222.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}
